.footer_center {
	text-align: center;
}

body { padding: 0 0;  /* 0 padding	on top and bottom and 0 padding on right and left */ }

div .z-window-content {
    padding: 0px !important;
    margin: 0px !important;
    border: 0px !important;
    background: #fff;
    color: rgba(0,0,0,0.9);
    overflow: hidden;
    zoom: 1;
}

.z-listcell-content{
font-size: 12px;
}

.z-initing { width: 50px !important; height: 72px !important; background-image: url('../imgs/favicon.ico') !important; }

.z-north splitter {
	height: 20px !important;
}

.banner {
	font-size: 11px;
	font-style: oblique;
}

.banner-head {
	font-size: 2.4em;
}

.banner .logout {
	text-decoration: underline;
	cursor: pointer;
}

.footer {
	background-color: #102d35;
	color: white;
	padding-top: 5px;
}

.footer a, .footer a:VISITED {
	color: white;
}

.sidebar a, .sidebar a:VISITED {
	color: black;
	text-decoration: none;
	cursor: pointer !important;
}

.sidebar-fn {
	cursor: pointer !important;
}

.head1 {
	font-size: large;
}

.head2 {
	font-size: medium;
}

.row-count{
	font-style: oblique;
	font-size: 11px;
}

div .z-listcell-content{
	color: #636363;
	font-size: 11px !important;
}

div .z-north-header {
	font-size: 12px !important;
}

span .z-label{
	color: #636363;
	font-size: 19px !important;
}

.row-title .z-label {
	font-weight: bold;
	color: #7d7d7d;
	font-size: 12px !important;
}

.grid-row {
	color: #636363;
	font-size: 12px !important;
}

.row-title {
	font-weight: bold;
	color: #7d7d7d;
	font-size: 12px !important;
}

.tab-title {
	font-weight: bold;
	color: #7d7d7d;
	font-size: 12px !important;
	text-align: left;
	border-bottom: 1px solid #ECECEC;
	padding-left: 50px;
}

.tab-title-with-separator{
	font-weight: bold;
	color: #7d7d7d;
	font-size: 12px !important;
	text-align: left;
	border-bottom: 1px solid #ECECEC;
	margin-top: 15px;
}
.list-row .z-listcell {
	font-weight: bold;
	color: #7d7d7d;
}


.display-filter .z-textbox {
	font-weight: bold !important;
	color: #660066 !important;
}

div .z-caption-content {
	font-weight: bold;
	font-style: italic;
	color: #636363;
	font-size: 12px !important;
}

.complete-todo .z-label {
	text-decoration: line-through;
}

.warn {
	color: red;
}

.demo-main a, .demo-main a:VISITED {
	color: #636363;
	text-decoration: underline;
	font-size: smaller;
}

.todo-box {
	padding-right: 4px;
}

.filterbox {
	background: url("/imgs/todo.png") no-repeat 0 -16px;
}

.warningMessagebox {
	color: red;
	font-style: oblique;
}

.Flipped, .Flipped .Content
{
    transform:rotateX(180deg);
    -ms-transform:rotateX(180deg); /* IE 9 */
    -webkit-transform:rotateX(180deg); /* Safari and Chrome */
}


/* 


.z-apply-mask,
.z-modal-mask {
    background: black;
    opacity: 1.0;
}

.z-tree-icon .z-tree-open {
	background-image: url("/imgs/minus.png");
	background-repeat: no-repeat;
	width: 100%;
}

.z-tree-icon .z-tree-close {
	background-image: url("/imgs/plus_tree.png");
	background-size: cover;
	width: 100%;
}

.z-tree-spacer:nth-last-child(2):before {
	font-family: fontawesome;
	content: "\f085";
} remove the font awesome
		icon
.z-tree-icon .z-tree-open::before, .z-tree-icon .z-tree-close::before {
	content: '';
} */